<% if @raids.length > 0 then %>
<ul>
    <% @raids.each do |raid| %>
    <li><%= link_to( raid.note, raids_show_path( :id => raid.id ) ) %></li>
    <% end %>
</ul>
<% else %>
<p>There are no raids currently analyzed.</p>
<% end %>